body{
    background-color: #0d2755;
}

.jumbotron{
    padding-top: 30px;
    height: 200px;
    text-align: center;
    margin-top: 10px;
}



.container{
    background-color: white;
    border-radius: 5px;
    
}

.linkHolder{
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom: 20px;
    border-bottom: solid grey 1px;
}

a{
    color: #0d2755;
}